body{
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1404/red_Aston_Martin-Car_HD_Wallpaper_1366x768.jpg);
}

footer
{
    margin-top:50px;
    width:100%;
    height:200px;
    background-color:red;
}